{% extends "admin/adminBase.html" %}
{% block title %}Manage_user{% endblock %}
{% block title2 %}User Setting{% endblock %}

{% block content %}
<style>
    .error{
        text-align: center;
    }
</style>
    {% if users %}
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">email</th>
              <th scope="col">firstname</th>
              <th scope="col">role</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <form method="post">
          {% for user in users %}

            <tr>
              <td>{{ user.id }}</td>
              <td><a href="{{ url_for('admin.view_chatlog', user_id=user.id) }}">{{ user.email }}</a></td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.role }}</td>
              <td>
                  <button class="btn btn-danger center" type="submit" name="delete" value="{{  user.id  }}"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                  <button class="btn btn-danger center" type="submit" name="send_email" value="{{  user.email  }}"><span class="glyphicon glyphicon-trash"></span> Send Email</button>

              </td>
            </tr>
          {% endfor %}
           </form>
          </tbody>
        </table>
      </div>
    {% else %}
        <div class="error">
            <h3> -- NO USER INFOMATION -- </h3>
        </div>
    {% endif %}
{% endblock %}