{% extends "admin/adminBase.html" %}
{% block title %}Chat{% endblock %}
{% block title2 %}Chatbot Setting{% endblock %}

{% block content %}
<style>
    .chatbox__messages{
        margin-top: auto;
        display: flex;
        overflow-y: scroll;
        flex-direction: column-reverse;
        width: 300px;
        height: 400px;

    }

</style>
<h4>Training</h4>
    <a href="{{ url_for('admin.download', filename='intents_Example.json', src='src') }}">Example of script file</a>
<br>
<br>
    <form method="post" enctype ="multipart/form-data">
        <input type="file" name="intent_file" >
        <input type="submit" name="submit" value="submit">
        <br>
        <br>
        <input type="submit" name="train" value="train">
    </form>
<br>
    <div class="container">
        <h4>Testing Chatbot</h4>
    <div class="chatbox">
        <div class="chatbox__support">

            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
    </div>
</div>
 <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='testChatbot.js') }}"></script>
{% endblock %}