{% extends "base.html" %}
{% block title %}Chatbot{% endblock %}

{% block content %}
<style>
    .container{
        width: 450px;
    }
    .chatbox__messages{
        height: 540px;
        background: #ffffff;
    }
    .chatbox__footer {
        position: relative;
    }
</style>
<div class="container">
    <div class="chatbox_support">
    <div class="chatbox__messages">
        <div>
        </div>
    </div>
    <div class="chatbox__footer">
        <input type="text" placeholder="Write a message...">
        <button class="chatbox__send--footer send__button">Send</button>
        <button class="chatbot__download download__button">Download</button>
    </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}